{% extends 'base.html' %}

{% block content %}
  <section>
<div class="container mt-5">
    <h3>À propos</h3>
     <hr class="divider-w mt-10 mb-20">
    <p>La multiplication constante des cyberattaques force les entreprises à se munir de systèmes capables
de les protéger. Dans ce contexte, les systèmes de détection d’intrusion ont vu le jour. Aujourd’hui,
face à l’émergence de nouvelles attaques, ces systèmes atteignent leurs limites et ont besoin d’être
renforcés. L’intégration de l’apprentissage automatique permet d’améliorer les performances des
systèmes de détection d’intrusions. Toutefois, des contraintes subsistent encore en ce qui concerne
la sélection des algorithmes d’apprentissage applicables au contexte de la détection d’intrusion et la
bonne sélection des attributs pour l’établissement d’un profil normal. Nous proposons <strong>Mon app</strong>, une architecture hybride basée sur des modèles de classification permettant de dissocier les paquets normaux du réseau de ceux anormaux ainsi que le type d’attaque.</p>
    
   </div>
</section>
{% endblock %}